
/*ページのタイトル*/
#DeltaPlaceHolderPageTitleInTitleArea > span > span > a
{
	display: none;
}

/*Webパーツタイトル*/
.ms-webpart-chrome-title
{
	background-color: rgba(6, 6, 6, 0.80);
}

/*Webパーツタイトルテキスト
.ms-webpart-titleText
{
	font-weight: bolder;
	font-style: italic;
	color: white;
}
*/

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a
{
	color:white;
}

.ms-webpart-chrome-title a
{
	padding-left: 10px;
}

.ms-core-header .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-header a.ms-tv-item:hover, .ms-core-header a.ms-tv-header:hover
{
	   background: white;
}