/*Webパーツタイトル*/
.ms-webpart-chrome-title
{
/*	background-color: #2A1B1B;*/
	background-color: #DC6900;
	padding-left: 10px;
}

/*Webパーツタイトルテキスト*/
.ms-webpart-titleText
{
	font-weight: bolder;
	font-style: italic;
	color: white;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a
{
	color:white;
}

.ms-breadcrumb-top
{
   display:none;
}
#s4-titlerow
{
	padding-top: 10px;
	height: 35px;
}
#DeltaPlaceHolderSearchArea
{
   display:none;	
}